<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NorseCourse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>165517EA1CAE151000CAAEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>165517FE1CAE151000CAAEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>165518091CAE151000CAAEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
